/* ==========================================================================
--------------------------Reset----------------------------------------------
========================================================================== */

/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* ==========================================================================
 -----------------------Base Styles------------------------------------------
========================================================================== */
  
  /* Base styles for the main container */
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
/* ==========================================================================
-------------------------Typography------------------------------------------
========================================================================== */

/* Heading Fonts */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* Body Text Fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Font Sizes */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Font Weight and Style */
h1, h2 {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* Line Spacing and Letter Spacing */
p {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.5px;
}

/* Additional Typography Styles */
.flex2,
.flex3,
.flex5 {
    text-align: center;
    text-transform: capitalize;
    font-size: 1em;
    color: #505050;
}

.flex5,
.flex5-header,
.h-info {
    font-weight: bold;
}

.flex5-header {
    font-style: oblique;
    font-size: 3em;
    padding-top: 25px;
}

.p-info {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.price-size {
    font-size: 2em;
    line-height: 1.5;
    margin-left: 5px;
    color: #505050;
}

.flex5-info-list {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: bold;
    color: #505050;
    text-transform: capitalize;
}

.flex5-select {
    align-items: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
    color: #505050;
}


/* ==========================================================================
----------------------Flex Container Styles----------------------------------
========================================================================== */
  
  /* Styles for flex container 1 */

  .flex1 {
    display: none; 
  }
  
/*---------------------------------------------------------------------------------*/
  /* Styles for flex container 2 */

  .flex2 {
    position: relative;
    margin-top: 75px; 
  }
 
  #forms {
    display: flex;
    flex-direction: column;
  }
  
  #email {
    width: 250px;
    margin: auto; 
  }
  
  #submit {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px; 
    width: 50%;
    align-self: center;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
    opacity: 0.8;
    text-transform: capitalize;
  }
  
/*---------------------------------------------------------------------------------*/
  /* Styles for flex container 3 */

  .flex3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mats, .ships, .evon {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    line-height: 2.5;

    
  }

  .img-mats,
  .img-ship,
  .img-evon {
    max-width: 300px;
    width: 100%;
  }

 
/*---------------------------------------------------------------------------------*/
  /* Styles for flex container 4 */
  
  .iframe-container {
    overflow: hidden;
    padding-top: 56%;
    position: relative;
  }
  
  .iframe-container iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
  }
  
/*---------------------------------------------------------------------------------*/
  /* Styles for flex container 5 */

  .flex5 {
    /* Add any styles for the main container here */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
  }
  .flex5-header{
    line-height: 1;
  }
  
  .gold-icon {
    width: 50px;
    height: 50px;
  }
  
  .flex5-image {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .flex5-info-list {
    width: 100%;
    height: auto;
  }
  
  .sunrise,
  .twilight,
  .eternity {
    align-items: center;
    position: relative;
  }
  
  .flex5-head {
    position: absolute;
    width: 100%;
    height: 75px;
    background-color: white;
    z-index: 1;
  }
  
  .flex5-subhead {
    display: flex;
    position: relative;
    align-self: center;
    flex-direction: row;
    top: 135px;
    margin: auto;
    z-index: 1;
    background-color: white;
    width: 140px;
  }
  
  .flex5-info-list {
    position: absolute;
    z-index: 1;
    bottom: 82px;
    width: 100%;
  }
  
  .flex5-olist {
    list-style-type: none;
    background-color: white;
    opacity: 0.7;
  }
  
  .flex5-button {
    position: relative;
    left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    height: auto;
    align-self: center;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
    opacity: 0.9;
    z-index: 1;
  }
  
  .flex5-button a {
    text-decoration: none;
  }
  
/*---------------------------------------------------------------------------------*/
  /* Styles for flex container 6 */
  .flex6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
  }
  
  .rabbitfeet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  
  .footerlist{
    display: flex;
    justify-content: center;
    list-style-type: none; 
  }
  .footerlist li {
  list-style-type: none; 
  float: left;
  margin:5px;
  text-transform: capitalize;

  }
  
  .rabbitfeet a {
    text-decoration: none;
    color: black;
  }
  
  /* ==========================================================================
  ----------------------------Specials-----------------------------------------
  ========================================================================== */
  
  /* Special styles for specific elements */
  /* Add special styles here */

  .dropbtn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #373737;
  }
  
  .dropdown {
    display: inline-block;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(211, 211, 211, 1);
    text-align: center;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-transform: capitalize;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #d8cbba;
  }
  
  .show {
    display: block;
  }
   
/* ==========================================================================
 -------------------------Media Queries--------------------------------------
 ========================================================================== */
/* Media query for screens larger than 700px */
 
@media only screen and (min-width: 701px) {
    .dropdown {
      display: none;
    }
  
    .flex1 {
      display: inline;
      max-width: 99%;
      height: 250px;
      min-width: 50%;
      margin: 1% 5% 1% 5%;
    }
  
    .main-navi {
      position: relative;
      max-width: 80%;
      height: 50px;
      display: flex;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }
  
    .flex1 img {
      display: flex;
      width: 300px;
    }
  
    .nav-link {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .lstyle {
      margin: 5px;
    }
  
    .nav-link a {
      text-decoration: none;
      color: black;
    }
  
    .flex1 {
      /* fonts */
      font-size: 1em;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      text-align: center;
    }
  
    .flex2 {
      margin: 50px 5% 1% 5%;
    }
  
    .flex3 {
      margin: 50px 5% 1% 5%;
    }
  
    .pre-mat {
      display: flex;
      flex-direction: row;
      margin: 50px 5% 1% 5%;
      align-items: center;
    }
  
    .img-mats {
      width: 200px;
      height: 200px;
      margin-right: 50%;
    }
  
    .mats {
      width: 100%;
      max-width: 50%;
      min-width: 250px;
      height: auto;
      margin-left: 29%;
      margin-right: 25%;
      position: absolute;
    }
  
    .fast-ship {
      display: flex;
      flex-direction: row;
      margin: 50px 5% 1% 5%;
      align-items: center;
    }
  
    .img-ship {
      width: 200px;
      height: 200px;
      margin-right: 50%;
    }
  
    .ships {
      width: 100%;
      max-width: 50%;
      margin-left: 29%;
      margin-right: 25%;
      position: absolute;
    }
  
    .quality {
      display: flex;
      flex-direction: row;
      margin: 50px 5% 1% 5%;
      align-items: center;
      height: 200px;
    }
  
    .img-evon {
      max-width: 300px;
      min-width: 200px;
      height: auto;
      width: 100%;
    }
  
    .evon {
      width: 100%;
      max-width: 45%;
      margin-left: 40%;
      margin-right: 25%;
      position: absolute;
    }
  
    .flex4 {
      margin: 50px 5% 1% 5%;
    }
  
    .flex5 {
      margin: 50px 5% 1% 5%;
    }
  
    .sunrise, .twilight, .eternity {
      margin: 50px 5% 1% 5%;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .evon {
      width: 100%;
      max-width: 45%;
      margin-left: 32%;
      margin-right: 25%;
      position: absolute;
    }
  
    .video-cont {
      margin: 1% 2.5% 1% 2.5%;
      
    }
  
    .flex4 {
      margin: 5% 12.5% 5% 12.5%;
      max-width: 1280px;
      max-height: 720px;
      min-width: 640x;
      min-height: 360px;
  
    }
  
    .flex4 iframe {
      margin: 0;
      max-width: 1280px;
      max-height: 720px;
    }
    .iframe-container {
      overflow: hidden;
      padding-top:42.33333%;
    }
  
    .flex5 {
      margin: 50px 2.5% 1% 2.5%;
  
    }
  
    .flex-spewall {
      width: 100%;
      min-width: 700px;
      max-width: 1125px;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: center;
    }
  
    .flex5-image {
      max-width: 320px;
      min-width: 320px;
      height: auto;
    }
  
    .sunrise, .twilight, .eternity {
      margin: 0;
    }
  
    .sunrise {
      overflow: hidden;
      clear: both;
      max-width: 320px;
      min-width: 150px;
      height: 100%;
      max-height: auto;
    }
  
    .sunimig {
      max-width: 320px;
      min-width: 150px;
      height: 100%;
      max-height: auto;
    }
  
    .twilight {
      overflow: hidden;
      clear: both;
      max-width: 320px;
      min-width: 250px;
    }
  
    .twilimg {
      max-width: 320px;
      min-width: 150px;
      height: 100%;
      max-height: auto;
    }
  
    .eternity {
      overflow: hidden;
      clear: right;
      max-width: 320px;
      min-width: 250px;
    }
  
    .eterimg {
      max-width: 320px;
      min-width: 150px;
      height: 100%;
      max-height: auto;
    }
  
    .flex6 {
      display: inline;
      max-width: 99%;
      height: 200px;
      min-width: 50%;
      margin: 1% 5% 1% 5%;
      text-transform: capitalize;
      font-size: 1.5em;
    }
  
    .rabbitfeet {
      margin-top: 50px;
    }
  
    .rabbitfeet ul {
      position: relative;
      max-width: 80%;
      height: 50px;
      display: flex;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  

  