/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main items */
  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  /* Form */
  #forms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #email {
    width: 250px;
  }
  
  #submit {
    margin-top: 10px;
    padding: 10px 20px;
    width: 50%;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
  }
  
  /* Flex items */
  .flex-case {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header */
  .main-navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .nav-link {
    list-style-type: none;
  }
  
  .nav-link a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  /* Dropdown */
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  /* Media queries */
  @media only screen and (min-width: 701px) {
    .dropdown {
      display: none;
    }
  
    .flex1 {
      max-width: 99%;
      height: 250px;
      min-width: 50%;
      margin: 1% 5%;
    }
  
    .main-navi {
      max-width: 80%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
    }
  
    .flex1 img {
      width: 300px;
    }
  
    .nav-link {
      display: flex;
      align-items: center;
      list-style: none;
    }
  
    .nav-link a {
      text-decoration: none;
      color: black;
      margin: 0 10px;
    }
  
    .flex1 {
      font-size: 1em;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      text-align: center;
    }
  
    .flex2,
    .flex3,
    .pre-mat,
    .fast-ship,
    .quality {
      margin: 50px 5% 1% 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .img-mats,
    .img-ship,
    .img-evon {
      width: 200px;
      height: 200px;
      margin-right: 50%;
    }
  
    .mats,
    .ships,
    .evon {
      width: 100%;
      max-width: 50%;
      min-width: 250px;
      height: auto;
      margin-left: 29%;
      margin-right: 25%;
      position: absolute;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .evon {
      margin-left: 32%;
    }
  
    .video-cont {
      margin: 1% 2.5%;
    }
  
    .flex4 {
      margin: 5% 12.5%;
      max-width: 1280px;
      max-height: 720px;
      min-width: 640x;
      min-height: 360px;
    }
  
    .flex4 iframe {
      margin: 0;
      max-width: 1280px;
      max-height: 720px;
    }
  
    .iframe-container {
      overflow: hidden;
      padding-top: 42.33333%;
    }
  
    .flex5 {
      margin: 50px 2.5%;
    }
  
    .flex-spewall {
      min-width: 700px;
      max-width: 1125px;
      display: flex;
      justify-content: space-between;
      align-self: center;
    }
  
    .flex5-image {
      max-width: 320px;
      min-width: 320px;
      height: auto;
    }
  
    .sunrise,
    .twilight,
    .eternity {
      margin: 0;
      overflow: hidden;
      max-width: 320px;
      min-width: 150px;
      height: 100%;
      max-height: auto;
    }
  
    .flex6 {
      max-width: 99%;
      height: 200px;
      min-width: 50%;
      margin: 1% 5%;
      text-transform: capitalize;
      font-size: 1.5em;
      display: inline;
    }
  
    .rabbitfeet {
      margin-top: 50px;
    }
  
    .rabbitfeet ul {
      max-width: 80%;
      height: 50px;
      display: flex;
      flex-direction: row;
      margin: auto;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
  }
  